*{
    box-sizing: border-box;
    font-family: Arial;
    user-select: none;
}
@font-face {
    font-family: "Fancy Cursive";
    src: url(../fonts/Allura-Regular.ttf);
}
@font-face{
    font-family: "Jojo";
    src: url(../fonts/Naganoshi.otf);
}@font-face{
    font-family: "Regista";
    src: url(../fonts/DemoRegista400.otf);
}

html{background-color: rgb(0, 149, 255);}

/* TOGLIE IL FASTIDIOSO BORDO ATTORNO ALLA PAGINA */
body{padding: 0;margin: 0;}

.page_container{
    max-width: 1600px;
    position: relative;
    overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: column;

    position: relative;
}
/* BARRA BIANCA SUPERIORE CON LOGO */
.white_stripe{
    background: white;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: start;
    align-items: center;
    /* position: relative; */
}
.white_stripe .logo:first-child{
    margin-left: 50px;
}
.logo{
    margin: 0px 0px;
    width: 80px;
    height: 50px;
    padding: 5px;
    /* background: red; */
}
.logo img{height: 100%;}
.white_stripe > p{
    font-family: Jojo;
    font-size: 30px;
}
#home_button{
    position: absolute;
    right: 10px;
    top: 0;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.1s ease-in-out;
}
#home_button img{
    width: 90%;
    height: 90%;
    object-fit: cover;
}
#home_button:hover{
    transform: scale(1.1);
}


/* BARRA GRIGIA CON BOTTONI NAVIGAZIONE */
.nav_stripe{
    background: rgb(40,40,40);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;

    position: absolute;
    top: 50px;
    z-index: 99;
}
.nav_stripe--scroll{
    position: fixed;
    top: 0px;
}
.category_text{
    padding: 0px 15px;
    font-size: 15px;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_button{
    height: 100%;
    color: lightgray;
    transition: all 0.1s linear;
    cursor: pointer;
}
.nav_button--active{
    color: rgb(0, 149, 255);
    border-bottom: 3px solid rgb(0, 149, 255);
}
.nav_button a{
    font-size: 15px;
    width: 100%; height: 100%;
    padding: 0px 15px;
    text-decoration: none;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_button p{
    margin: 0;
    transition: all 0.1s linear;
}
.nav_button:hover p{
    color: rgb(0, 149, 255);
}

main h1 a{
    /* position: absolute; */
    display: block;
    text-align: center;
    width: 100%;
    top: 50px;
    /* padding-top: 50px; */
    margin-top: 70px;
    /* margin: 0; */
    font-family: Fancy Cursive;
    font-size: 64px;
    color: white;
    /* text-decoration:solid; */
    box-shadow: 0px 0px 10px black;
    cursor:auto;
}


main p{
    padding: 20px;
    color: white;
    font-size: 20px;
}

.f_r{
    float: right;
    border: 3px solid white;
    margin: 40px;
    background-color: rgb(0,0,0,0.2);
    border-radius: 20px;

    width: 20%;
}
.f_l{
    float: left;
    border: 3px solid white;
    margin: 40px;
    background-color: rgb(0,0,0,0.2);
    border-radius: 20px;

    width: 20%;
}
main p .img{
    display: block;
    border: 3px solid white;
    margin: 40px;
    background-color: rgb(0,0,0,0.2);
    border-radius: 20px;

    width: 100%;
}



#tv{
    /* background: rgb(0,62,106); */
    /* background: linear-gradient(180deg, rgba(0,62,106,1) 0%, rgba(0,149,255,1) 100%); */

    height: 550px;
}
#tv__img{
    /* background: red; */
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tv__img .television{
    width: 100%;
    max-width: 900px;
    object-fit: fill;
    transform: translateY(6%);
}
#tv__img .gif{
    position: absolute;
    width: 100%;
    max-width: 900px;
    object-fit: cover;
    transform: scale(0.841) translateY(-4%);
}



.gototop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px; height: 40px;
    transform: scale(0);

    transition: all 0.2s ease-in-out;

    z-index: 10;
}
.gototop--show{
    transform: scale(1);
}
.gototop img{
    height: 100%;
    cursor: pointer;
}
.gototop--show:hover{
    transform: scale(1.2);
}

footer{
    clear: both;
    background: rgb(20,20,20);
    color: gray;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;

    /* width: 100%;
    position: fixed;
    bottom: 0; */
}
footer p{
    margin: 0;
    font-size: 14px;
} /* FARE COME BLENDER */
